@charset "UTF-8";

/* Container holding the image and the text */
.imgContainer {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.display-11 {
  font-family: 'Bellota Text', display;
  font-size: 0.8rem;
  line-height: 1;
}

.vidiframe {
  margin-bottom: 30px;
}

.introh1 {
  min-height: 400px;
}

.introh3 {
  min-height: 300px;
}

.small-font-tag{

}

.imgCont{
  max-height: 400px;
  max-width: 300px;
}